<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://dicoding-restaurant-api.el.r.appspot.com" crossorigin>
    <title>Foodhalla</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <nav></nav>
    <main id="main-content"></main>
</body>
</html>