<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev" crossorigin>
    <link rel="preconnect" href="https://www.themealdb.com" crossorigin>
    <title>Foodhalla</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <nav></nav>
    <main id="main-content"></main>
    <div class="bot-nav" id="bot-nav">
        <ul>
            <li>
                <a href="#home">
                    <i class="material-icons-outlined">home</i>
                    <div>Home</div>
                </a>
            </li>
            <li>
                <a href="#meal-list">
                    <i class="material-icons-outlined">lunch_dining</i>
                    <div>Meals</div>
                </a>
            </li>
            <li>
                <a href="#about-us">
                    <i class="material-icons-outlined">info</i>
                    <div>About us</div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>