<ul class="sidenav" id="sidenav"></ul>
<div id="sidenav-overlay"></div>

<div class="jumbotron">
    <div class="jumbotron-background"></div>
    <h3 class="copywriter">Find your favorite restaurant shouldn’t be this hard</h3>
</div>

<div class="container">
    <h2>Let's Explore</h2>
    <div class="restaurant-list" id="restaurant-list">
        <div class="resto-loader">
            <div class="loadingio-spinner-rolling-s1fw21anmf">
                <div class="ldio-0as4myltz1ws">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>Copyright@Foodhalla</footer>